* {
    box-sizing: border-box;
}

// CONNEXION
.connect-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & div {
        margin: 0 1rem;
    }
}


// PRODUCT
.product, 
.product-info-labels {
    display: flex;
}

.product-basket {
    display: flex;
    align-items: center;
}
