* {
    box-sizing: border-box;
}

// CONNEXION
.connect-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & div {
        margin: 0 1rem;
    }
}


// PRODUCT
.product, 
.product-info-labels {
    display: flex;
}

.product-basket {
    display: flex;
    align-items: center;
}


// FORM
.form {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;

    .form-part1 { grid-area: 1 / 1 / 2 / 2; }
    .form-part2 { grid-area: 1 / 2 / 2 / 3; }
    .form-part3 { grid-area: 1 / 3 / 2 / 4; }
    .form-part4 { grid-area: 1 / 4 / 2 / 5; }
    .form-part5 { grid-area: 1 / 5 / 2 / 6; }
    .form-part6 { grid-area: 2 / 1 / 3 / 3; }
    .form-part7 { grid-area: 2 / 3 / 3 / 5; }
    .form-part8 { grid-area: 2 / 5 / 3 / 6; }

    .form-part {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .form-send-btn {
        align-items: center;
        display: flex;
        align-self: center;
        justify-items: center;
    }
}