$borderBottom: 1px solid #000000;

html,
body {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}


// HEADER
header {
    text-align: center;
    background-color: black;
}

h1 {
    letter-spacing: .2rem;
    color: white;
    margin: 0;
    padding: 4rem;
}

// PRODUCTS
.category {
    margin: 1rem 0;
}

// PRODUCT
.product,
.product-info-labels {
    border-bottom: $borderBottom;
    padding: .2rem 0;

    .product-info-label {
        background-color: #f0eded;
        font-variant: small-caps;
        font-feature-settings: normal;
        letter-spacing: 1px;
    }

    .product-info {
        width: 10rem;
    }

    .product-name,
    .product-info-label-product {
        width: 15rem;
    }

    .product-name {
        text-transform: capitalize;
    }

    .product-basket,
    .product-info-label-quantity {
        width: 15rem;
    }

    .quantity-input {
        width: 3rem;
    }

    .unit-select {
        width: 8rem;
        margin: 0 .5rem;
    }
}

// FORM
.form-select {
    font-size: .9rem;
}
