$borderStandard: 1px solid #000000;
$primaryFont: Arial;
$primaryFontSize: 1rem;
$labelsFont: 'Times New Roman', Times, serif;
$labelsFontSize: 1.2rem;
$labelsBackgroundColor: #f0eded;
$productPadding: .3rem .5rem;

html,
body {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

button,
.button {
    padding: .3rem .5rem;
    border-radius: 5px;
}

h2 {
    letter-spacing: .1rem;
    text-align: center;
    margin: 2rem 0;
}

// HEADER
header {
    text-align: center;
    background-color: black;
}

h1 {
    letter-spacing: .2rem;
    color: white;
    margin: 0;
    padding: 4rem;
}

// PRODUCTS
.category {
    margin: 1rem 0;
}

// PRODUCT
.product-info-labels {
    background-color: $labelsBackgroundColor;
    font-variant: small-caps;
    font-feature-settings: normal;
    letter-spacing: 1px;
}

.product,
.product-info-labels {
    border-bottom: $borderStandard;
    padding: $productPadding;

    .product-info {
        width: 10rem;
    }

    .product-name,
    .product-info-label-product {
        width: 15rem;
    }

    .product-name {
        text-transform: capitalize;
    }

    .product-basket,
    .product-info-label-quantity {
        width: 15rem;
    }

    .quantity-input {
        width: 3rem;
    }

    .unit-select {
        width: 8rem;
        margin: 0 .5rem;
    }
}

// FORM
.instructions-text {
    text-align: center;
}

.required-sign {
    color: #cc0101;
}

.form {
    margin: -1rem auto 3rem;
    max-width: 80%;

    .form-part {
        margin: 1rem;
    }

    label {
        font-family: $labelsFont;
        font-size: $labelsFontSize;
        border-bottom: $borderStandard;
        margin: 0 0 1rem;

        .label-plus {
            font-size: 1rem;
        }
    }

    .form-input {
        font-size: .9rem;
        padding: .2rem 1rem;
        height: 36px;
        border-radius: 4px;
        border: 1px solid #cccccc;
    }

    .form-unit-select {
        width: 10rem;
    }

    .form-category-select {
        font-size: .9rem;
    }

    #price {
        width: 8rem;
    }

    .form-send-btn {
        margin-bottom: .5rem;
        padding: .5rem .8rem;
        border-radius: 10px;
    }

    // no arrows in input type=number
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
    }
}

//SELLER PRODUCTS LIST
.seller-products-list {
    .sell-product-labels {
        background-color: $labelsBackgroundColor;
        font-variant: small-caps;
        font-feature-settings: normal;
        letter-spacing: 1px;
        text-transform: capitalize;
    }

    .sell-prod-info {
        border: none;
        font-size: $primaryFontSize;
        font-family: $primaryFont;
        cursor: pointer;
    }

    .sell-prod-info,
    .sell-product-labels {
        border-bottom: $borderStandard;
        padding: $productPadding;
    }

    .sell-prod-info,
    .sell-product-label,
    .sell-btn {
        width: 8rem;
    }

    .sell-product-label-name,
    .sell-product-name {
        width: 16rem;
        //text-transform: capitalize;
    }

    .sell-product-label-cat,
    .sell-product-cat {
        width: 22rem;
        text-transform: capitalize;

        .css-1uccc91-singleValue {
            font-size: .9rem;
        }
    }

    .sell-prod-label-selec,
    .sell-prod-selectable {
        width: 17rem;
    }
}

// ORDERS
.delivery-infos-container {
    margin: 0 3rem 1rem;
    border: $borderStandard;

    h3 {
        border-bottom: $borderStandard;
        text-align: center;
        padding-bottom: 1rem;
        text-transform: uppercase;

        .deliver-title-sub {
            font-size: .9rem;
            font-weight: 400;
            
        }
    }

    .delivery-infos {
        .deliv-label {
            padding: 0 2rem;
            font-weight: 600;

            .deliv-info {
                padding-left: 1rem;
            }

            .deliv-name {
                font-size: 1.3rem;
                letter-spacing: 1px;
            }

            .deliv-phone,
            .deliv-adress {
                font-size: 1.2rem;
                letter-spacing: 1px;
            }
        }
    }
}

.delivery-order {
    margin: 3rem 2rem;

    .product-info {
        width: 9rem;
    }

    .order-cat {
        width: 17rem;
        text-transform: capitalize;
    }

    .order-name,
    .order-price {
        width: 12rem;
    }
}

.orders-prod-labels,
.order-prod-labels {
    background-color: $labelsBackgroundColor;
    font-variant: small-caps;
    font-feature-settings: normal;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.orders-prod-labels,
.orders-prod,
.order-prod-labels,
.order-prod {
    border-bottom: $borderStandard;
    padding: $productPadding;
}

.orders-prod-labels span {
    margin: 0 1rem;
}



// FOOTER
footer {
    height: 5rem;
}