$borderStandard: 1px solid #000000;
$primaryFont: Arial;
$primaryFontSize: 1rem;
$labelsFont: 'Times New Roman', Times, serif;
$labelsFontSize: 1.2rem;

html,
body {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}


// HEADER
header {
    text-align: center;
    background-color: black;
}

h1 {
    letter-spacing: .2rem;
    color: white;
    margin: 0;
    padding: 4rem;
}

h2 {
    letter-spacing: .1rem;
    text-align: center;
    margin: 2rem 0;
}

// PRODUCTS
.category {
    margin: 1rem 0;
}

// PRODUCT
.product,
.product-info-labels {
    border-bottom: $borderStandard;
    padding: .2rem 0;

    .product-info-label {
        background-color: #f0eded;
        font-variant: small-caps;
        font-feature-settings: normal;
        letter-spacing: 1px;
    }

    .product-info {
        width: 10rem;
    }

    .product-name,
    .product-info-label-product {
        width: 15rem;
    }

    .product-name {
        text-transform: capitalize;
    }

    .product-basket,
    .product-info-label-quantity {
        width: 15rem;
    }

    .quantity-input {
        width: 3rem;
    }

    .unit-select {
        width: 8rem;
        margin: 0 .5rem;
    }
}

// FORM
.instructions-text {
    text-align: center;
}

.required-sign {
    color: #cc0101;
}

.form {
    margin: -1rem auto 3rem;
    max-width: 80%;

    .form-part {
        margin: 1rem;
    }

    label {
        font-family: $labelsFont;
        font-size: $labelsFontSize;
        border-bottom: $borderStandard;
        margin: 0 0 1rem;

        .label-plus {
            font-size: 1rem;
        }
    }

    .form-input {
        font-size: .9rem;
        padding: .2rem 1rem;
        height: 36px;
        border-radius: 4px;
        border: 1px solid #cccccc;
    }

    .form-unit-select {
        width: 10rem;
    }

    .form-category-select {
        font-size: .9rem;
    }

    #price {
        width: 8rem;
    }

    .form-send-btn {
        margin-bottom: .5rem;
        padding: .5rem .8rem;
        border-radius: 10px;
    }

    // no arrows in input type=number
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
    }
}

//SELLER PRODUCTS LIST
.seller-products-list {
    border-top: $borderStandard;

    .sell-product-labels {
        background-color: #f0eded;
        font-variant: small-caps;
        font-feature-settings: normal;
        letter-spacing: 1px;
    }

    .sell-prod-info,
    .sell-product-labels {
        border-bottom: $borderStandard;
        padding: .2rem 0;
    }

    .sell-prod-info,
    .sell-product-label {
        width: 8rem;
    }

    .sell-product-label-name,
    .sell-product-name {
        width: 16rem;
    }

    .sell-product-label-cat,
    .sell-product-cat {
        width: 20rem;
    }

    .sell-prod-label-selec,
    .sell-prod-selectable {
        width: 10rem;
    }
}









